test/mION/*.pyc
test/mION/*.pdf
test/mION/*.py
*.csv
test/mION/*.csv
test/mION/*.dat
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/
docs/site/
tmp.gif
gks.*
output/*
.idea/*
*.idea
test/*.csv
test/mION/*.csv
test/mION/*.pyc
test/mION/*.mod
test/mION/*.dat
